<h1>Компилятор модельного языка</h1>
<div class="row">
  <div class="col-sm-5">
    <%= form_tag assembler_path do %>
        <p>Текст программы:</p>
        <%= text_area_tag 'text', @json['text'], class: 'code-field', disabled: true %>
        <%= button_tag 'Трансляция в Assembler', class: 'btn btn-primary analyse', remote: true %>
    <% end %>
  </div>
  <div class="col-sm-4">
    <p>Текст программы списком лексем:</p>
    <%= text_area_tag 'program', @json['program'], class: 'code-field', disabled: true %>
    <%= link_to 'Внести изменения в текст программы', error_path, class: 'btn btn-warning trigger' %>
  </div>
  <div class="col-sm-3">
    <p>Текст программы на языке Assembler</p>
    <%= text_area_tag 'assembler', @json['assembler'], class: 'code-field', disabled: true %>
    <%= link_to 'Ввести новый текст программы', root_path, class: 'btn btn-danger trigger' %>
  </div>
</div>
<div class="row">
  <div class="panel panel-success show-table">
    <div class="panel-heading" data-toggle="collapse" data-target="#collapseTable">
      Таблицы символов
    </div>
    <div class="collapse panel-body" id="collapseTable">
      <div class="row">
        <div class="col-sm-3">
          <div class="panel panel-success">
            <div class="panel-heading" data-toggle="collapse" data-target="#collapseKeyword">
              Таблица ключевых слов
            </div>
            <div class="collapse panel-body" id="collapseKeyword">
              <table class="table table-bordered">
                <% @json['table']['0'].each_index do |i| %>
                    <tr>
                      <th>[<%= i + 1 %>]</th>
                      <td><%= @json['table']['0'][i] %></td>
                    </tr>
                <% end %>
              </table>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="panel panel-success">
            <div class="panel-heading" data-toggle="collapse" data-target="#collapseDelimiter">
              Таблица разделителей
            </div>
            <div class="collapse panel-body" id="collapseDelimiter">
              <table class="table table-bordered">
                <% @json['table']['1'].each_index do |i| %>
                    <tr>
                      <th>[<%= i + 1 %>]</th>
                      <td><%= @json['table']['1'][i] %></td>
                    </tr>
                <% end %>
              </table>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="panel panel-success">
            <div class="panel-heading" data-toggle="collapse" data-target="#collapseIdentifier">
              Таблица идентификаторов
            </div>
            <div class="collapse panel-body" id="collapseIdentifier">
              <table class="table table-bordered">
                <% @json['table']['2'].each_index do |i| %>
                    <tr>
                      <th>[<%= i + 1 %>]</th>
                      <td><%= @json['table']['2'][i]['name'] %></td>
                    </tr>
                <% end %>
              </table>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="panel panel-success">
            <div class="panel-heading" data-toggle="collapse" data-target="#collapseConstant">
              Таблица констант
            </div>
            <div class="collapse panel-body" id="collapseConstant">
              <table class="table table-bordered">
                <% @json['table']['3'].each_index do |i| %>
                    <tr>
                      <th>[<%= i + 1 %>]</th>
                      <td><%= @json['table']['3'][i] %></td>
                    </tr>
                <% end %>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="success-message">
  <div class="panel panel-success">
    <div class="panel-heading">Выполнено!</div>
    <div class="panel-body">
      <% if @json['assembler'].empty? %>
        <p>
          В результате синтаксического и семантического анализа ошибок не обнаружено.
        </p>
      <% else %>
        <p>
          Трансляция в Assembler успешно завершена.
        </p>
      <% end %>
      <button class="btn btn-success hide-popup">Закрыть</button>
    </div>
  </div>
</div>
<div class="modal-overlay"></div>

<script>
    var popup = $(".success-message");
    var overlay = $(".modal-overlay");
    $(".hide-popup").click(function (event) {
        event.preventDefault();
        overlay.css("display", "none");
        popup.css("display", "none");
    });
</script>