<h1>Компилятор модельного языка</h1>
<div class="row">
  <div class="col-sm-5">
    <%= form_tag parsing_path do %>
        <p>Текст программы:</p>
        <%= text_area_tag 'program', @json['text'], class: 'code-field', disabled: true %>
        <%= button_tag 'Синтаксический анализ', class: 'analyse btn btn-primary', remote: true %>
    <% end %>
  </div>
  <div class="col-sm-4">
    <p>Текст программы списком лексем:</p>
    <%= text_area_tag 'program', @json['program'], class: 'code-field', disabled: true %>
  </div>
</div>
<div class="row">
  <div class="panel panel-success show-table">
    <div class="panel-heading" data-toggle="collapse" data-target="#collapseTable">
      Таблицы символов
    </div>
    <div class="collapse panel-body" id="collapseTable">
      <div class="row">
        <div class="col-sm-3">
          <div class="panel panel-success">
            <div class="panel-heading" data-toggle="collapse" data-target="#collapseKeyword">
              Таблица ключевых слов
            </div>
            <div class="collapse panel-body" id="collapseKeyword">
              <table class="table table-bordered">
                <% @json['table']['0'].each_index do |i| %>
                  <tr>
                    <th>[<%= i + 1 %>]</th>
                    <td><%= @json['table']['0'][i] %></td>
                  </tr>
                <% end %>
              </table>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="panel panel-success">
            <div class="panel-heading" data-toggle="collapse" data-target="#collapseDelimiter">
              Таблица разделителей
            </div>
            <div class="collapse panel-body" id="collapseDelimiter">
              <table class="table table-bordered">
                <% @json['table']['1'].each_index do |i| %>
                    <tr>
                      <th>[<%= i + 1 %>]</th>
                      <td><%= @json['table']['1'][i] %></td>
                    </tr>
                <% end %>
              </table>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="panel panel-success">
            <div class="panel-heading" data-toggle="collapse" data-target="#collapseIdentifier">
              Таблица идентификаторов
            </div>
            <div class="collapse panel-body" id="collapseIdentifier">
              <table class="table table-bordered">
                <% @json['table']['2'].each_index do |i| %>
                    <tr>
                      <th>[<%= i + 1 %>]</th>
                      <td><%= @json['table']['2'][i]['name'] %></td>
                    </tr>
                <% end %>
              </table>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="panel panel-success">
            <div class="panel-heading" data-toggle="collapse" data-target="#collapseConstant">
              Таблица констант
            </div>
            <div class="collapse panel-body" id="collapseConstant">
              <table class="table table-bordered">
                <% @json['table']['3'].each_index do |i| %>
                    <tr>
                      <th>[<%= i + 1 %>]</th>
                      <td><%= @json['table']['3'][i] %></td>
                    </tr>
                <% end %>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

