<h1>Компилятор модельного языка</h1>
<div class="row">
  <div class="col-sm-5">
    <%= form_tag parsing_error_path, class: 'lexical-form' do %>
        <p>Текст программы:</p>
        <%= text_area_tag 'program', @json['text'], class: 'code-field' %>
        <%= button_tag 'Синтаксический анализ', class: 'btn btn-primary analyse', remote: true %>
    <% end %>
  </div>
  <div class="col-sm-4">
    <p>Текст программы списком лексем:</p>
    <%= text_area_tag 'program', @json['program'], class: 'code-field', disabled: true %>
  </div>
</div>
<% unless @error.empty? %>
  <div class="row">
    <div class="panel panel-danger show-table">
      <div class="panel-heading" data-toggle="collapse" data-target="#collapseError">
        Список ошибок
      </div>
      <div class="collapse panel-body" id="collapseError">
        <% @error.each do |elem| %>
          <p><%= elem %></p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="panel panel-success show-table">
    <div class="panel-heading" data-toggle="collapse" data-target="#collapseTable">
      Таблицы символов
    </div>
    <div class="collapse panel-body" id="collapseTable">
      <div class="row">
        <div class="col-sm-3">
          <div class="panel panel-success">
            <div class="panel-heading" data-toggle="collapse" data-target="#collapseKeyword">
              Таблица ключевых слов
            </div>
            <div class="collapse panel-body" id="collapseKeyword">
              <table class="table table-bordered">
                <% @json['table']['0'].each_index do |i| %>
                    <tr>
                      <th>[<%= i + 1 %>]</th>
                      <td><%= @json['table']['0'][i] %></td>
                    </tr>
                <% end %>
              </table>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="panel panel-success">
            <div class="panel-heading" data-toggle="collapse" data-target="#collapseDelimiter">
              Таблица разделителей
            </div>
            <div class="collapse panel-body" id="collapseDelimiter">
              <table class="table table-bordered">
                <% @json['table']['1'].each_index do |i| %>
                    <tr>
                      <th>[<%= i + 1 %>]</th>
                      <td><%= @json['table']['1'][i] %></td>
                    </tr>
                <% end %>
              </table>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="panel panel-success">
            <div class="panel-heading" data-toggle="collapse" data-target="#collapseIdentifier">
              Таблица идентификаторов
            </div>
            <div class="collapse panel-body" id="collapseIdentifier">
              <table class="table table-bordered">
                <% @json['table']['2'].each_index do |i| %>
                    <tr>
                      <th>[<%= i + 1 %>]</th>
                      <td><%= @json['table']['2'][i]['name'] %></td>
                    </tr>
                <% end %>
              </table>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="panel panel-success">
            <div class="panel-heading" data-toggle="collapse" data-target="#collapseConstant">
              Таблица констант
            </div>
            <div class="collapse panel-body" id="collapseConstant">
              <table class="table table-bordered">
                <% @json['table']['3'].each_index do |i| %>
                    <tr>
                      <th>[<%= i + 1 %>]</th>
                      <td><%= @json['table']['3'][i] %></td>
                    </tr>
                <% end %>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% unless @error.empty? %>
  <div class="error-message">
    <div class="panel panel-danger">
      <div class="panel-heading">Внимание!</div>
      <div class="panel-body">
        <p>
          В тексте программы обнаружены ошибки: <strong><%= @error.size %></strong>.
        </p>
        <p>Ошибки перечислены во вкладке "Список ошибок".</p>
        <button class="btn btn-danger hide-popup">Закрыть</button>
      </div>
    </div>
  </div>
  <div class="modal-overlay"></div>
<% end %>

<script>
  var popup = $(".error-message");
  var overlay = $(".modal-overlay");
  $(".hide-popup").click(function (event) {
      event.preventDefault();
      overlay.css("display", "none");
      popup.css("display", "none");
  })
  $(document).ready(function(){
      $(".lexical-form").validate({
          rules:{
              program:{
                  required: true
              }
          },
          messages:{
              program:{
                  required: "Поле обязательно для заполнения."
              }
          }
      });
  });
</script>
