/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.analyse {
  display: block;
  margin-bottom: 30px;
}

.code-field::-webkit-scrollbar,
.text-field::-webkit-scrollbar {
  width:12px;
}

.code-field::-webkit-scrollbar-thumb,
.text-field::-webkit-scrollbar-thumb {
  border-width:1px 1px 1px 2px;
  border-color: #777;
  background-color: #aaa;
}

.code-field::-webkit-scrollbar-thumb:hover,
.text-field::-webkit-scrollbar-thumb:hover {
  border-width: 1px 1px 1px 2px;
  border-color: #555;
  background-color: #777;
}

.code-field::-webkit-scrollbar-track,
.text-field::-webkit-scrollbar-track {
  border-width:0;
}

.code-field::-webkit-scrollbar-track:hover,
.text-field::-webkit-scrollbar-track:hover {
  border-left: solid 1px #aaa;
  background-color: #eee;
}