// Place all the styles related to the Index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.text-field {
  width: 100%;
  height: 500px;
  font-size: 16px;
  resize: none;
  margin-bottom: 20px;
}

.error {
  color: red;
  display: block;
  margin: -10px auto 20px;
}

.code {
  margin-top: 30px;
}