// Place all the styles related to the Syntacs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.code-field {
  width: 100%;
  height: 400px;
  font-size: 16px;
  resize: none;
  margin-bottom: 20px;
}

.table th {
  text-align: center;
}

.panel-heading {
  cursor: pointer;
}

.error-message,
.success-message {
  display: block;
  position: fixed;
  top: 150px;
  left: 30%;
  z-index: 4;
  width: 40%;
  text-align: center;
}

.modal-overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-overlay-show {
  display: block;
}